body {
    font-family: 'Open Sans', arial, serif-sans;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

nav.navbar {
    margin-bottom: 1rem;
}

.is-simple-layout {
    background-color: #F2F6FA;
    font-family: 'Open Sans', arial, serif;
    font-size: 14px;
    font-weight: 300;
}

section {
    margin: 1rem 0;
}

.card-header.is-danger {
    background-color: hsl(348, 100%, 61%);
}
.card-header.is-danger .card-header-title {
    color: #fff;
}

.card-header.is-dark {
    background-color: hsl(0, 0%, 21%);
}
.card-header.is-dark .card-header-title {
    color: hsl(0, 0%, 96%);
}

.card-header.is-info {
    background-color: hsl(204, 86%, 53%);
}
.card-header.is-info .card-header-title {
    color: #fff;
}

label {
    display: block;
    position: relative;
    padding-left: 1.25em;
}

label input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.buruburu:hover {
    display: inline-block;
    animation: hurueru .1s  infinite;
}

.state-running {
    animation: hikaru-yellow .8s  infinite;
}

.state-waiting {
    animation: hikaru-brown 1.4s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

@keyframes hikaru-yellow {
    0% {background-color: rgba(255, 255, 0, 0)}
    25% {background-color: rgba(255, 255, 0, 0.3)}
    50% {background-color: rgba(255, 255, 0, 0.01)}
    100% {background-color: rgba(255, 255, 0, 0)}
}

@keyframes hikaru-brown {
    0% {background-color: rgba(127, 127, 127, 0)}
    25% {background-color: rgba(127, 127, 127, 0.2)}
    50% {background-color: rgba(127, 127, 127, 0.01)}
    100% {background-color: rgba(127, 127, 127, 0)}
}
