[Unit]
Description = isucon8 qualifier webapp in go

[Service]
WorkingDirectory=/home/isucon/torb/webapp/go
EnvironmentFile=/home/isucon/torb/webapp/env.sh

ExecStart = /home/isucon/torb/webapp/go/torb

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
