Makefile
/inc/
MANIFEST
*.bak
*.old
nytprof.out
nytprof/
*.db
/blib/
pm_to_blib
META.yml
MYMETA.json
MYMETA.yml
/Build
/_build/
/local/
/.carton/
/ISUCON8-Portal-*
/.build
/_build_params
/Build.bat
!Build/
!META.json
!LICENSE
log/*
