[Unit]
Description = isucon8 qualifier webapp in perl

[Service]
WorkingDirectory=/home/isucon/torb/webapp/perl
EnvironmentFile=/home/isucon/torb/webapp/env.sh

ExecStart = /home/isucon/torb/webapp/perl/local/bin/plackup -R lib -R app.psgi -R views -p 8080 app.psgi

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
